matrix_module.xcodeproj/project.xcworkspace/contents.xcworkspacedata
matrix_module.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/
matrix_module.xcodeproj/xcuserdata/*.xcuserdatad/
matrix_module.xcodeproj/xcuserdata/*.xcuserdatad/
matrix_module.xcodeproj/*.pbxuser
matrix_module.xcodeproj/*.perspectivev3